@page
@{
    ViewData["Title"] = "Internal Area";
    Layout = "_template";
}
<main class="container mt-3">
    <div class=" row justify-content-md-center">
        <h1>
            @ViewData["titulo"]
            <p>
                Internal Page.
            </p>
        </h1>
    </div>
</main>