
@page
@model Netpobre.Pages.LoginModel
@{
    ViewData["title"] = "Login";
}
<div class=" row justify-content-center">
    <form class=" form-signin align-self-center" method="post" asp-asp-page="/Login">
    <h1 class="mt-5 mb-3 font-weight-normal">Identify:</h1>
    
    <style type="text/css">
        .val-summary ul{
            list-style-type: none;
            padding:0;
            margin:0;
        }
    </style>
    <div asp-validation-summary="ModelOnly" class="val-summary text-danger mb-3">    </div>
    <input asp-for="Dados.Email" class="form-control" placeholder="E-mail" required autofocus />
    <span asp-asp-validation-for="Dados.Email" class="text-danger"></span>

    <input asp-for="Dados.Password" class="form-control" placeholder="Password" required />
    <span asp-validation-for="Dados.Password" class="text-danger"></span>

    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

    <div class="checkbox mt-3">
        <label asp-for="Dados.Remind">
            <input asp-for="Dados.Remind" />
            @Html.DisplayNameFor(m=>m.Dados.Remind)
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p class=" mt-3">Never been here? <a href="./NewClient">Register here</a></p>
    </form>
    </div>
  
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
